.signup-invest {
  width: 100%;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
  border: 1px;
}
.inves-signup-form {
  margin: 68px 0;
}
.form-control-invalid {
  border: 0.5px solid red;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 16%);
  border-radius: 5px;
  padding: 6px;
  border: none;
  margin-top: 6px;
}
.form-control {
  /* border: 1px solid rgb(12, 12, 134); */
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 16%);
  border-radius: 5px;
  padding: 6px;
  border: none;
  margin-top: 6px;
}
.error-login {
  position: relative;
}
.error-text {
  font-size: 12px;
  color: red;
  position: absolute;
  top: 2px;
  right: 0px;
}
.login-form {
  display: flex;
  flex-direction: column;
  display: flex;

  gap: 19px;
}

.materialUi {
  text-align: center;
  font-size: 31px;
  font-weight: 700;
}
.login-form1 {
  display: flex;
  flex-direction: column;
}
.login-form2 {
  display: flex;
  flex-direction: column;
}
.forget_password {
  font-size: 12px;
  position: absolute;
  right: 1px;
}

.button-box {
  width: 100%;
  position: relative;
  margin-bottom: 12px;
}
.login-button {
  width: 100%;
  border: none;
  padding: 6px;
  background-color: teal;
  margin-top: 8px;
}

.form_class {
  width: 70%;
}

label {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
}

.bottom_log {
  margin-top: 12px;
  font-size: 12px;
  font-weight: 500;
}

/* media query+++++++++++++++++++++++++++++++++++++++for mobile++++++++++++++++++++ */

@media (max-width: 600px) {
  .login {
    width: 100% !important;
  }
  .form_class {
    width: 100%;
  }
}
